<pre><span style='font-weight:bold; color: navy'>package</span> csc202.finalprjct.controller;

<span style='font-weight:bold; color: navy'>import</span> java.util.Map;

<span style='font-weight:bold; color: navy'>import</span> csc202.finalprjct.EnumEditor;
<span style='font-weight:bold; color: navy'>import</span> csc202.finalprjct.entity.Gender;
<span style='font-weight:bold; color: navy'>import</span> csc202.finalprjct.entity.User;
<span style='font-weight:bold; color: navy'>import</span> csc202.finalprjct.entity.UserService;
<span style='font-weight:bold; color: navy'>import</span> csc202.finalprjct.security.service.SecurityService;
<span style='font-weight:bold; color: navy'>import</span> csc202.finalprjct.security.service.UserValidator;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.beans.factory.annotation.Autowired;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.beans.factory.annotation.Value;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.beans.propertyeditors.StringTrimmerEditor;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.stereotype.Controller;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.ui.Model;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.validation.BindingResult;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.web.bind.WebDataBinder;
<span style='font-weight:bold; color: navy'>import</span> org.springframework.web.bind.annotation.*;

@Controller
<span style='font-weight:bold; color: navy'>public</span> <span style='font-weight:bold; color: navy'>class</span> MainPageController {
    @InitBinder
    <span style='font-weight:bold; color: navy'>public</span> <span style='font-weight:bold; color: navy'>void</span> initBinder(WebDataBinder binder) {

        binder.registerCustomEditor(Gender.class, <span style='font-weight:bold; color: navy'>new</span> EnumEditor(Gender.class));
        <span style='color: blue'>/* Converts empty strings into null when a form is submitted */</span>
        binder.registerCustomEditor(String.class, <span style='font-weight:bold; color: navy'>new</span> StringTrimmerEditor(true));
    }

    @Autowired
    <span style='font-weight:bold; color: navy'>private</span> UserService userService;

    @Autowired
    <span style='font-weight:bold; color: navy'>private</span> SecurityService securityService;

    @Autowired
    <span style='font-weight:bold; color: navy'>private</span> UserValidator userValidator;

    <span style='color: blue'>// inject via application.properties</span>
    @Value(<span style='color: green'>"${main.message:test}"</span>)
    <span style='font-weight:bold; color: navy'>private</span> String message = <span style='color: green'>"Hello World"</span>;

    @RequestMapping(value = {<span style='color: green'>"/"</span>}, method = RequestMethod.GET)
    <span style='font-weight:bold; color: navy'>public</span> String main(Model model) {
        model.addAttribute(<span style='color: green'>"userForm"</span>, <span style='font-weight:bold; color: navy'>new</span> User());
        <span style='font-weight:bold; color: navy'>return</span> <span style='color: green'>"main"</span>;
    }

    @RequestMapping(value = {<span style='color: green'>"/welcome"</span>}, method = RequestMethod.GET)
    <span style='font-weight:bold; color: navy'>public</span> String welcome(Map<String, Object> model) {
        model.put(<span style='color: green'>"message"</span>, this.message);
        <span style='font-weight:bold; color: navy'>return</span> <span style='color: green'>"welcome"</span>;
    }
<span style='color: blue'>//-----------------------------------------------------------------------</span>


    @GetMapping(<span style='color: green'>"/registration"</span>)
    <span style='font-weight:bold; color: navy'>public</span> String registration(Model model) {
        <span style='font-weight:bold; color: navy'>int</span> o = <span style='color: green'>25</span> + <span style='color: green'>3</span>;
        model.addAttribute(<span style='color: green'>"userForm"</span>, <span style='font-weight:bold; color: navy'>new</span> User());

        <span style='font-weight:bold; color: navy'>return</span> <span style='color: green'>"registration"</span>;
    }

<span style='color: blue'>//    @PostMapping("/greeting")</span>
<span style='color: blue'>//    public String greetingSubmit(@ModelAttribute Greeting greeting) {</span>
<span style='color: blue'>//        return "result";</span>
<span style='color: blue'>//    }</span>

    @PostMapping(<span style='color: green'>"/registration"</span>)
    <span style='font-weight:bold; color: navy'>public</span> String registration(@ModelAttribute(<span style='color: green'>"userForm"</span>) User userForm, BindingResult bindingResult, Model model) {
        userValidator.validate(userForm, bindingResult);

        <span style='font-weight:bold; color: navy'>if</span> (bindingResult.hasErrors()) {
            <span style='font-weight:bold; color: navy'>return</span> <span style='color: green'>"registration"</span>;
        }

        userService.save(userForm);
<span style='color: blue'>//</span>
<span style='color: blue'>//        securityService.autologin(userForm.getUsername(), userForm.getPasswordConfirm());</span>

        <span style='font-weight:bold; color: navy'>return</span> <span style='color: green'>"redirect:/welcome"</span>;
    }

<span style='color: blue'>//------------------------------------------------------------------------------</span>

    @RequestMapping(value = <span style='color: green'>"/login"</span>, method = RequestMethod.GET)
    <span style='font-weight:bold; color: navy'>public</span> String login(Model model, String error, String logout) {

        <span style='font-weight:bold; color: navy'>if</span> (error != null)
            model.addAttribute(<span style='color: green'>"error"</span>, <span style='color: green'>"Your username and password is invalid."</span>);

        <span style='font-weight:bold; color: navy'>if</span> (logout != null)
            model.addAttribute(<span style='color: green'>"message"</span>, <span style='color: green'>"You have been logged out successfully."</span>);

        <span style='font-weight:bold; color: navy'>return</span> <span style='color: green'>"signin"</span>;
    }
}</pre>